<h1>Editing game session</h1>

<%= render "form", game_session: @game_session %>

<br>

<div>
  <%= link_to "Show this game session", @game_session %> |
  <%= link_to "Back to game sessions", game_sessions_path %>
</div>
