body, main{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  font-family: Helvetica, serif;
}

main{
  background-image: url("christin-hume-mfB1B1s4sMc-unsplash.jpg");
  background-size: cover;
  background-position: center 0%;
  position: relative;
  z-index: 2;
  transition: transform 500ms;
}

body[data-nav="true"] > main {
  transform: translateY(-50%);
}

#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: navy;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem darkblue;
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

#nav-toggle:hover{
  transform: translateX(-50%) scale(1.10);
}

#nav-toggle:active{
  transform: translateX(-50%) scale(0.90);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0.9);
  color: whitesmoke;
  font-size: 2rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

nav{
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
}

#nav-links{
  display: flex;
  height: 100%;
  gap: 10vmin;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  transform: translateY(70%) scale(0.9);
}

nav:not(:active) #nav-links{
  transition: transform 500ms;
}

body[data-nav="true"] > nav > #nav-links{
  transform: translateY(0%) scale(1);
}

#nav-links >.nav-link{
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

#nav-links > .nav-link > .nav-link-img{
  width: 40vmin;
  height: 100%;
  user-drag: none;
}

#nav-links > .nav-link > .nav-link-img > img{
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit:cover;
  border-radius: 0.5rem;
}

.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

