%button{id:"nav-toggle", type:"button", onclick: "toggleNav()"}
  %i.bi.bi-list.open
  %i.bi.bi-X-lg.close

%nav#nav-links-parent
  #nav-links{"data-mouse-down-at":"0", "data-prev-percentage": "0"}
    .nav-link
      .nav-link-label Hello world!
      = link_to image_tag("arnold-francisca-f77Bh3inUpE-unsplash.jpg"), root_path, class: "nav-link-img"
    .nav-link
      .nav-link-label Hello world!
      = link_to image_tag("arnold-francisca-f77Bh3inUpE-unsplash.jpg"), root_path, class: "nav-link-img"
